html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  display: flex;
  padding: 20px; /* Added padding around all sides */
}
#pokemon-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#pokemon-list {
  flex: 1;
  overflow-y: auto;
  padding: 5px 0;
  max-height: calc(100vh - 110px - 40px); /* Adjusted max-height to account for body padding */
}

.pokemon-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: move;
  transition: background-color 0.3s;
}
.pokemon-item.highlight {
  background-color: #ffc;
}
img {
  max-width: 100%;
}
#priority-order {
  flex: 1;
  margin-left: 20px;
}
textarea {
  width: calc(100% - 15px); /* Adjusted width to account for scrollbar */
  height: 80vh;
  resize: none;
}
.error {
  color: red;
}
button {
  margin-top: 10px;
}
.placeholder {
  height: 0;
  margin: 5px;
  padding: 10px;
  border: 1px dashed #ccc;
  transition: height 0.3s;
}
#search-bar {
  width: calc(50% - 20px); /* Adjusted width to match the pokemon list */
  padding: 5px;
}
